<% if logged_in? %>
    <div class="containter-fluid">
          <%= render 'shared/user_info' %>
          <%= render 'shared/order_form' %>
    </div>
<% else %>

<div class="center jumbotron">
  <h1>Hungry?</h1>
  <h3>...and can't decide what to eat?</h3>

  <%= link_to "Quit thinking and start eating", signup_path, class: "btn btn-lg btn-primary" %>


 <h5>(just pay for the food and tell us where to send it) </h5>
</div>

<% end %>