<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h3>
        <%= @user.name %>
      </h3>
      <h4>
        <%= @user.email %>
      </h4>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.orders.any? %>
        <h3>Previous Orders (<%= @user.orders.count %>)</h3>
        <ol class="orders">
          <%= render @orders %>
        </ol>
        <%= will_paginate @orders %>
        <% else %>
        <h3>
          No previous orders</h3>


    <% end %>
  </div>
</div>