<%= form_for(@order) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.label :budget , "$ per person" %>
      <%= f.text_field :budget, class: 'form-control' %>

      <%= f.label :meals , "How many people do you want to feed?" %>
      <%= f.text_field :meals, class: 'form-control' %>
    </div>
    <%= f.submit "Feed me!", class: "btn btn-primary" %>
<% end %>