<li id="order-<%= order.id %>">
  <span class="old_order">
  Ordered for <%= order.meals %> people, $<%= order.budget %> per person</span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
</li>