<h1>Place an order</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@order) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :budget , "$ per person" %>
      <%= f.text_field :budget, class: 'form-control' %>
      
      <%= f.label :meals , "How many people do you want to feed?" %>
      <%= f.text_field :meals, class: 'form-control' %>

      <%= f.submit "Send Order", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>